In [1]:
# 함수=로직을 구현
def hello(name):
    return f'{name}씨 안녕'

In [2]:
hello('재은')

'재은씨 안녕'

In [3]:
hello('우성')

'우성씨 안녕'

In [4]:
def sum1(num1,num2):
    re=num1+num2
    return re

In [5]:
sum1(3,10)

13

In [18]:
# 엔터를 쳐서 정의해줘야 함 
# 엔터를 치지 않으면 함수 호출하는 코드도 함께 표현해야함
def minus(a,b) :
    re=a-b
    return re

In [20]:
num1=int(input ("첫정수입력>>"))
num2=int(input ("둘정수입력>>"))
#minus(num1,num2)
rs = minus(num1,num2)
print(rs)

첫정수입력>>3
둘정수입력>>5
-2

In [1]:
# 내가 만든 함수 메모작성-->독스트링
def cal(num3,num4,op) :
    """덧셈과 뺄셈을 해주는 함수"""
    if op == '+':
        
        re = num3+num4
    elif op == '-':
        
        re = num3-num4
    else :
        re ='꽝'
    return re

In [16]:
num3=int(input ("첫정수입력>>"))
num4=int(input ("둘정수입력>>"))
op=input ("연산자입력(+,-)>>")
rs=cal(num3,num4,op)
#print(f'결과 : {rs}')
print('결과 : {}'.format(rs))

첫정수입력>>5
둘정수입력>>3
연산자입력(+,-)>>+
결과 : 8

In [12]:
# 가변 매개변수
# 여러개의 숫자를 받아서 모두 더해주는 함수
def add(*args):   # 매개변수명은 랜덤
    return sum(args) # 변수명 동일설정

In [13]:
add(1,2,3,4,5)

15

In [14]:
# 리턴값은 무조건 하나
def add_sub(num1,num2):
    return num1+num2,num1-num2

In [17]:
num1=int(input ("첫정수입력>>"))
num2=int(input ("둘정수입력>>"))
rs=add_sub(num1,num2)
print('결과 : {}'.format(rs))

첫정수입력>>3
둘정수입력>>2
결과 : (5, 1)

In [18]:
# 값을 하나씩 가져오는 방법: 인덱싱
rs[0]

5

In [19]:
# 다중 변수 입력
rs_add,rs_minus = add_sub(5,3)
print(rs_add)
print(rs_minus)

8
2

In [22]:
# 함수 매개변수 기본값 설정하기 --> power=2
def power_of_n(num,power=2):
    return num**power   # **지수연산

In [24]:
power_of_n(4) # 기본값power=2의 해당하는 매개변수는 생략가능

16

In [23]:
power_of_n(4,3) # 기본값power=2은 매개변수'3'로 인해 변경가능-->4의3제곱

64

In [34]:
ss=['a',4]
sa='a',4
sb=('a',4)
print(type(ss))
print(ss)
print(type(sa))
print(sa)
print(type(sb))
print(sb)
sc='a'
print(type(sc))
print(sc)
sd=1
print(type(sd))
print(sd)
sf='a','b'
sg=1,2
print(type(sf))
print(sf)
print(type(sg))
print(sg)

<class 'list'>
['a', 4]
<class 'tuple'>
('a', 4)
<class 'tuple'>
('a', 4)
<class 'str'>
a
<class 'int'>
1
<class 'tuple'>
('a', 'b')
<class 'tuple'>
(1, 2)